
*{font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}


body{
    background: 	#ffdef2;
    padding: 0 1.5em;
    margin: 0 ;
    min-height: 100vh;
    
}

.parrafo1 {
    text-align: justify;
    border: 2px;
    color:blueviolet;
    padding: 10px;
}

.parrafo2 {
    text-align: justify;
    border: 2px;
    color: blue;
    padding: 20px;
}

.container{
    display:grid;

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

    grid-template: 150px 60px 1fr 1fr 100px  / auto auto ;

    grid-template-areas: "header header"
                         "seleccion seleccion"
                         "general general"
                         "fotos fotos"
                         "pie pie";
    gap: 0px;

}

.header         {grid-area: header; background-color: #ffdef2;}
.seleccion      {grid-area: seleccion; background-color: #f2e2ff;}  
.general        {grid-area: general; background-color: #e2eeff;} 
.fotos          {grid-area: fotos; background-color: #e2eeff;}  
.pie            {grid-area: pie; background-color: #ddfffc;}  


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet (menos de 920px)     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 920px) {
    .container {
        /* Uso un atajo para definir 5 filas / 2 columna */
        grid-template: 150px auto auto auto auto / 30% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header"
            "seleccion seleccion"
            "general general"
            "fotos fotos "
            "pie pie";
    }
}

/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular (menos de 600px)    */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 5 filas / 1 columna */
        grid-template: 150px auto auto auto auto / 100%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header" "seleccion" "general" "fotos" "pie";
    }
}

.button {
    border: none;
    color: #9a32cd;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {background-color: #ddfffc; } /* Green */
 
  #enlace-sin-subrayado {
    text-decoration: none;
}
/*grid inicio.html*/




.animate__bounceIn {
    color: #645197
}






.grid-container {
    display: grid;                        
    grid-template-columns: 1fr 1fr 1fr ;   
    gap: 10px;                                 
    padding: 10px;                               
    border-radius: 5px;
    
   
}


.grid-item {
 
    color:black;               
    padding:10px; 
    border-radius: 5px;
    text-align: center;     
    transition: background-color 2s ease;   
}




.item1 {
   
    grid-column-start: 1;        /* Comienza en la linea 1 */
    grid-column-end: 4;          /* Finaliza en la linea 4 */
    transition: transform .2s;
    
}



.item2 {
   background-color: #f3f8ff;
}

.fotos {
    transition: transform .2s ease;
}

.fotos img:hover{
   
    transform: scale(1.2);
}



.item2:hover{
    background: #ffffe3;
    box-shadow:  rgba(163,163,163,0.4);
}





  div img {vertical-align: middle;

}
  
  /* contenedor */
  .slideshow-container {
    max-width: 800px;
   position: relative;
    margin: auto;
    
      }
  
  /* botones */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* posicion boton siguiente */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .contacto-total{

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contacto-form{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(175,208,255,.8);
}


.contacto-form h3{
    text-align: center;
    margin:10px 0 1rem 0;
}
.contacto-form form{

    margin:0;
    padding: 1em;
    
    }
    

.formulario__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10;
    transition: .3s ease all;
}

.contacto-form form textarea{
    
    width: 100%;
    padding: .7em;
    outline: none;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: .3s ease all;
    
    }
 
    .contacto-form  select{

    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10;
    cursor: pointer;
    appearance:none;
    transition: .3s ease all;
        
        }   


    
.formulario__input:focus{
    border:3px solid #0075ff;
    outline:none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.contacto-form textarea:focus{
    border:3px solid #0075ff;
    outline:none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__grupo  select:focus{
    border:3px solid #0075ff;
    outline:none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.formulario__input-error{

font-size: 12px;
margin-bottom: 0;
display: none;

}

.formulario__input-error-activo {
    display:block;
}

.formulario__validacion-estado {
    position:absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size:16px;
    opacity: 0;
}


.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.contacto-form__mensaje,
.formulario__grupo-btn-enviar{
    grid-template-columns:span 2 ;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;

}

.formulario__mensaje-activo {
    display:block;
}
.formulario__mensaje p {
    margin: 0;
    
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-size-adjust: 100%;
    background: #000;
    color:#fff;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    cursor:pointer;
    transition: .1s ease all;
}
.formulario__btn:hover {
   box-shadow:3px 0px 30px rgba(163,163,163,1) ;
}




.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activado {
    display: block;
}


.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: center;
    margin:20px 0 1rem 0;
   
}
.contacto-info ul{
    list-style: none;
    padding: 10px;
    margin-top: 10px;

}
.contacto-mapa iframe{
    margin:0;
padding: 1em;

}

.contacto-mapa{
    display: grid;
    grid-template-rows: 1fr 1fr;


}

.mapa{
 width: 100%;


}



/*-----------estilos para validacion---------------*/

.formulario__grupo-correcto .formulario__validacion-estado {
    color:#1ed12d;
    opacity: 1;

}
.formulario__grupo-incorrecto .formulario__label {
color:#bb2929;


}
.formulario__grupo-incorrecto .formulario__validacion-estado {
color:#bb2929;
opacity: 1;


}
.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid;
}


/*-----------mediaqueries-----------*/

@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
        grid-column: span 1;
    }
}
    
.pie {
    display: grid;    /*Convierte el contenedor en una grilla */
    grid-template-columns: auto auto auto ;/*Forma en que se distribuyen los elementos*/
    grid-template-rows: 20px 20px;
    gap: 30px;    
    max-height: 100px;
  
}
.pie > div {

    padding:10px;
    text-align: center;             /* Contenido de los hijos centrado en x */
}
.item3 {
   
    grid-column-start: 1;        /* Comienza en la linea 1 */
    grid-column-end: 4;          /* Finaliza en la linea 4 */
   
    
}