
*{font-family: DM Sans,sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



h1, h2{
    border: 2px;
    color: gray;
    padding: 5px;
   
    font-family: 'Indie Flower', cursive;


}


.container{
    display:grid;
    grid-template: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / auto auto auto auto auto;
    grid-template-areas: "header header header header header"
                          "seleccion seleccion seleccion seleccion seleccion"
                          "general general general general general"
                          "fotos fotos fotos fotos fotos"
                          "a a a a a"
                          "b b b b b"
                          "c c c c c"
                          "d d d d d"
                          "e e e e e"
                          "f f f f f"
                          "g g g g g"
                          "h h h h h"
                          "i i i i i"
                          "j j j j j";
    gap:1px;
    
}


.container2 {
    display: grid;

    /* Uso un atajo para definir una fila / cinco columnas */
    grid-template-columns:1fr  1fr 1fr 1fr 10% ;

}

.header         { grid-area: header; background-color: 	#ffdef2;}
.seleccion        {grid-area: seleccion; background-color:	#f2e2ff;}  
.general        {grid-area: general; background-color: #e2eeff;} 
  
.fotos        {grid-area: fotos; background-color:#ddfffc;}  
.a        {grid-area: a; background-color: #ffffe3;}  
.b        {grid-area: b; background-color: lightcyan;}  
.c        {grid-area: c; background-color: lightcyan;}  
.d        {grid-area: d; background-color: lightcyan;}  
.e        {grid-area: e; background-color: lightcyan;}  
.f        {grid-area: f; background-color: lightcyan;}  
.g        {grid-area: g; background-color: lightcyan;}  
.h        {grid-area: h; background-color: lightcyan;}  
.i        {grid-area: i; background-color: lightcyan;}  
.j        {grid-area: j; background-color: lightcyan;}  

.item {
    padding: 1px;
    color: #ddfffc;
    border-radius: 1px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {background-color: #ddfffc;} /* Green */
 
  #enlace-sin-subrayado {
    text-decoration: none;
}


 
