
*{font-family: DM Sans,sans-serif;
    box-sizing: border-box;

}



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: 	#ffdef2;
    padding: 0 1.5em;
    
}

h1, h2{
    border: 2px;
    color: gray;
    padding: 5px;
   
    font-family: 'Indie Flower', cursive;
}

.container0{ 
    display: grid;
    grid-template-columns:15% 1fr 15%;
}


h3 {
    border: 2px;
    color: 	#6565bf;
    padding: 5px;
   
   }


h4 {
    border: 2px;
    color: 		#6565bf;
    padding: 5px;
   

}


.parrafo1 {
    border: 2px;
    color:gray;
    padding: 5px;
}



.parrafo2 {
    border: 2px;
    
    padding: 20px;
}

.container{
    display:grid;

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    grid-template: 150px 60px 1fr /*1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr*/ / auto auto ;
    grid-template-areas: "header header "
                          "seleccion seleccion "
                          "general general "
                          /*"fotos fotos "
                          "a a "
                          "b b "
                          "c c "
                          "d d "
                          "e e "
                          "f f "
                          "g g "
                          "h h "
                          "i i "*/
                          "pie pie ";
    gap:0px;

 }

.container2 {
    display: grid;

    /* Uso un atajo para definir una fila / cinco columnas */
    grid-template-columns:1fr  1fr 1fr 1fr 10% ;

}

.header         { grid-area: header; background-color: 	#ffdef2;}
.seleccion      {grid-area: seleccion; background-color:#f2e2ff;}  
.general        {grid-area: general; background-color: #e2eeff;} 
.fotos        {grid-area: fotos; background-color:#ddfffc;}  
.a        {grid-area: a; background-color: #ffffe3;}  
.b        {grid-area: b; background-color: lightcyan;}  
.c        {grid-area: c; background-color: lightcyan;}  
.d        {grid-area: d; background-color: lightcyan;}  
.e        {grid-area: e; background-color: lightcyan;}  
.f        {grid-area: f; background-color: lightcyan;}  
.g        {grid-area: g; background-color: lightcyan;}  
.h        {grid-area: h; background-color: lightcyan;}  
.i        {grid-area: i; background-color: lightcyan;}  
.pie      {grid-area: pie; background-color: #ffffe3;}  

.item {
    
    grid-column-start: 2;        /* Comienza en la columna 2 */
    grid-column-end: 2;   
    text-align: justify;      

}

.item1 {
  
    grid-column-start: 1;        /* Comienza en la linea 1 */
    grid-column-end: 2;          /* Finaliza en la linea 4 */
    text-align: justify;
    padding-left: 5px;
}


.item2 {
  
    grid-column-start: 2;        /* Comienza en la linea 1 */
    grid-column-end: 2;          /* Finaliza en la linea 4 */

}
.button {
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {background-color: #ddfffc; } /* Green */
 
  #enlace-sin-subrayado {
    text-decoration: none;
}
/*grid inicio.html*/
.grid-container {
    display: grid;                        
    grid-template-columns: 1fr 1fr 1fr ;   
    gap: 10px;                               
    background-color: #ddfffc;          
    padding: 10px;                       
    border: 2px solid gray;          
    border-radius: 5px;
}


.grid-item {
    background-color: lightgrey;  
    color:black;               
    padding:10px;
    border: 2px solid violet;  
    border-radius: 5px;
    text-align: center;        
}

.item1 {
    background-color:lightgrey;   /* Color de fondo del hijo */
    grid-column-start: 1;        /* Comienza en la linea 1 */
    grid-column-end: 4;          /* Finaliza en la linea 4 */
}


/*formulario*/
.contacto-form form{

margin:0;
padding: 1em;

}


.contacto-total{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contacto-form{
    box-shadow: 0 0 20px 0 rgba(175,208,255,.8);
    

}


.contacto-mapa iframe{
    margin:0;
padding: 1em;

}

.mapa{
 width: 100%;


}


.contacto-mapa{
    display: grid;
    grid-template-rows: 1fr 1fr;


}

.general form textarea{

width: 100%;
padding: .7em;
outline: none;
box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
background: #fff;
border: 3px solid transparent;
border-radius: 3px;
transition: .3s ease all;

}




.itemarea {
    background-color: white;   /* Color de fondo del hijo  */
    /*El area comienza en fila=3 columna=2 y ocupa 3 filas, 2 columnas */
    grid-area: 3 / 2 / span 3 / span 2;
}



.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 30px;
    line-height: 45px;
    padding: 0 20px 0 5px;
    transition: .3s ease all;
}




.general form textarea:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}



.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 1;
    align-content: center;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}


  
  /* al pasar mouse fondo negro */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* puntos imagenes */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* animacion */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
   /*animacion*/
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


